@{
    var isAdmin = this.Context.User.IsInRole("ADMIN");
}

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerceMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("Head", required: false)
    <link href="~/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/jquery-toast-plugin/jquery.toast.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerceMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerceMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="auth" asp-action="login">Join | Login</a>
                        </li>
                        @if(isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admins" asp-controller="Dashboard" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://kit.fontawesome.com/1cc93dc038.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/js-cookie/js.cookie.min.js"></script>
    <script src="~/js/customer.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - ECommerceMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("Head", required: false)
    <link href="~/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/jquery-toast-plugin/jquery.toast.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerceMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.min.css">

    <link rel="stylesheet" href="~/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.4.2-web/css/regular.min.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.4.2-web/css/solid.min.css">

    <link rel="stylesheet" href="~/css/nav-style.css">
    <link rel="stylesheet" href="~/css/footer-style.css">
    <link rel="stylesheet" href="~/css/card-style.css">
    <link rel="stylesheet" href="~/css/filters-style.css">
    <link rel="stylesheet" href="~/css/footer-style.css">
    <link rel="stylesheet" href="~/css/common-style.css">
    <title>Home Page</title>
</head>

<body>

    <!--Navbar-->
    <div id="navbar ">
        <header class="py-3 mb-3 border-bottom">
            <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
                   Elchin
                </a>
                <div class="d-flex align-items-center">
                    <form class="w-100 me-3">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    @if (!this.Context.User.Identity.IsAuthenticated)
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="auth" asp-action="login">Login</a>

                    }else
                    {
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                     class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Order History</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                @if (isAdmin)
                                {
                                    <li><a class="dropdown-item" asp-area="admins" asp-controller="dashboard" asp-action="index">Admin Panel</a></li>
                                }
                                <li><a class="dropdown-item" asp-area="" asp-controller="auth" asp-action="logout">Sign out</a></li>
                            </ul>
                        </div>
                    }
               

                </div>
            </div>
        </header>
    </div>
    <div id="header">
        <h1 id="main-header">
            the Beauty in Imperfections
        </h1>
    </div>
    <div class="b-example-divider"></div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer-->
    <div id="footer">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Navigation</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Account</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Help</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                        </ul>
                    </div>


                    <div class="col-6 col-md-2 mb-3">
                        <h5>Payment</h5>
                        <ul class="nav flex-column">
                            <!--Odenis kartlari-->
                            <li class="nav-item mb-2"><a href="#" class="nav-link fa-2x p-0 text-muted"><i class="fa-brands fa-paypal" style="color: #fb774b;"></i></a></li>

                        </ul>
                    </div>


                    <div class="col-md-5 offset-md-1 mb-3">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary" id="email-subscribe-btn" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2022 Company Name, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/1cc93dc038.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/js-cookie/js.cookie.min.js"></script>
    <script src="~/js/customer.js" asp-append-version="true"></script>
    <script src="~/fontawesome-free-6.4.2-web/js/fontawesome.min.js"></script>
    <script src="~/js/cards-scripts.js"></script>
    <script src="~/js/home-filters.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
